Repository NibiruChain/nibiru, pull requests merged in 2024-07, with the labels that each got.

#1957 refactor(localnet): preserve local keyring on make localnet
  contrib/scripts/localnet.sh
Labels: skip-changelog

#1959 feat(evm): Add precompile to the EVM that enables transfers of ERC20 tokens to "nibi" accounts as Ethereum transactions
  CHANGELOG.md
  app/app.go
  app/keepers.go
  app/keepers/all_keepers.go
  e2e/evm/contracts/TestERC20.sol
  e2e/evm/contracts/TestERC20Compiled.json
  e2e/evm/test/erc20.test.ts
  eth/rpc/rpcapi/eth_api_test.go
  x/common/set/set.go
  x/evm/deps.go
  x/evm/embeds/.gitignore
  x/evm/embeds/IFunToken.sol
  x/evm/embeds/IFunTokenCompiled.json
  x/evm/embeds/compile.sh
  x/evm/embeds/embeds.go
  x/evm/embeds/embeds_test.go
  x/evm/embeds/hardhat.config.js
  x/evm/embeds/package.json
  x/evm/evm_test.go
  x/evm/evmmodule/genesis.go
  x/evm/evmtest/erc20.go
  x/evm/evmtest/tx.go
  x/evm/keeper/erc20.go
  x/evm/keeper/erc20_from_coin.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/precompiles.go
  x/evm/params.go
  x/evm/precompile/.gitignore
  x/evm/precompile/README.md
  x/evm/precompile/funtoken.go
  x/evm/precompile/funtoken_test.go
  x/evm/precompile/precompile.go
  x/oracle/keeper/app_test.go
Labels: type: enhancement, x: evm

#1960 test(network): graceful cleanup for more consistent CI runs
  CHANGELOG.md
  app/wasmext/wasm_cli_test/cli_test.go
  eth/rpc/rpcapi/eth_api_test.go
  gosdk/export_test.go
  gosdk/gosdk_test.go
  gosdk/sequence_test.go
  x/common/testutil/cli/logger.go
  x/common/testutil/testnetwork/doc.go
  x/common/testutil/testnetwork/logger.go
  x/common/testutil/testnetwork/network.go
  x/common/testutil/testnetwork/network_config.go
  x/common/testutil/testnetwork/network_test.go
  x/common/testutil/testnetwork/query.go
  x/common/testutil/testnetwork/tx.go
  x/common/testutil/testnetwork/tx_test.go
  x/common/testutil/testnetwork/util.go
  x/common/testutil/testnetwork/validator_node.go
  x/evm/keeper/grpc_query_test.go
  x/oracle/keeper/app_test.go
  x/sudo/cli/cli_test.go
  x/tokenfactory/cli/cli_test.go
Labels: type: fix/bug, type: tests

#1963 feat(evm): Deduct a fee during the creation of a FunToken mapping. Implemented by `deductCreateFunTokenFee` inside of the `eth.evm.v1.MsgCreateFunToken` transaction.
  CHANGELOG.md
  proto/eth/evm/v1/evm.proto
  proto/eth/evm/v1/tx.proto
  x/common/testutil/testnetwork/network.go
  x/common/testutil/testnetwork/validator_node.go
  x/evm/embeds/ERC20Minter.sol
  x/evm/embeds/ERC20MinterCompiled.json
  x/evm/errors.go
  x/evm/evm.pb.go
  x/evm/evmtest/erc20.go
  x/evm/evmtest/eth_test.go
  x/evm/keeper/erc20.go
  x/evm/keeper/erc20_test.go
  x/evm/keeper/funtoken_from_coin.go
  x/evm/keeper/funtoken_from_erc20.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/precompiles.go
  x/evm/params.go
  x/evm/precompile/funtoken.go
  x/evm/precompile/funtoken_test.go
  x/evm/precompile/precompile.go
Labels: type: enhancement, x: evm

#1981 fix(evm): remove isCheckTx() short circuit on `AnteDecVerifyEthAcc`
  CHANGELOG.md
  app/evmante/evmante_verify_eth_acc.go
Labels: x: evm

#1980 refactor(evm): clean up e2e tests
  e2e/evm/README.md
  e2e/evm/bun.lockb
  e2e/evm/contracts/TestERC20.sol
  e2e/evm/package-lock.json
  e2e/evm/package.json
  e2e/evm/test/basic_queries.test.ts
  e2e/evm/test/contract_infinite_loop_gas.test.ts
  e2e/evm/test/contract_send_nibi.test.ts
  e2e/evm/test/erc20.test.ts
  e2e/evm/test/setup.ts
  e2e/evm/types/ethers-contracts/TestERC20Compiled.ts
  e2e/evm/types/ethers-contracts/factories/TestERC20Compiled__factory.ts
  e2e/evm/types/ethers-contracts/factories/index.ts
  e2e/evm/types/ethers-contracts/index.ts
Labels: skip-changelog
