Repository NibiruChain/nibiru, pull requests merged in 2025-02, with the labels that each got.

#2188 refactor(evm): remove double JSON escaping of `EventEthereumTx` logs
  CHANGELOG.md
  eth/rpc/backend/tx_logs_test.go
  eth/rpc/backend/utils.go
  eth/rpc/events_parser.go
  eth/rpc/events_parser_test.go
  proto/eth/evm/v1/events.proto
  proto/eth/evm/v1/evm.proto
  proto/eth/evm/v1/tx.proto
  x/evm/events.go
  x/evm/events.pb.go
  x/evm/evm.pb.go
  x/evm/keeper/call_contract.go
  x/evm/keeper/msg_server.go
  x/evm/logs.go
  x/evm/logs_test.go
  x/evm/msg.go
  x/evm/msg_test.go
  x/evm/tx.pb.go
Labels: P: Nice to have / Low prio, P: Not priority

#2204 feat(evm-core-ts): Add ERC20 caller to the ethers export.
  evm-core-ts/CHANGELOG.md
  evm-core-ts/package.json
  evm-core-ts/src/ethers/index.ts
Labels: skip-changelog

#2219 fix(evm): disable unprotected tx check in EVM ante handler
  CHANGELOG.md
  app/evmante/evmante_sigverify.go
  app/evmante/evmante_sigverify_test.go
Labels: x: evm
